VITE_SUPABASE_URL=https://qfclthshdqngpjixzjlz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmY2x0aHNoZHFuZ3BqaXh6amx6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMDkyNzIsImV4cCI6MjA4NzU4NTI3Mn0.eauPhAsfm3sbnW6uj_opQPxBy6fN4szJIXpJV-tRq4g
